@font-face {
  font-family:lights ;
  src: url("fonts/HelveticaNeueLight.ttf");
}
@font-face {
  font-family:mediums ;
  src: url("fonts/HelveticaNeue-Medium.otf");
}
@font-face {
  font-family: bold;
  src: url("fonts/HelveticaNeueBold.ttf");
}
body{
  background-color: black;
  font-family: mediums;
}
*{
  margin: 0;
  padding: 0;
}

.top { height: 57rem; width:100%; background-image: url("./images/backgroung_img.jpg"); background-size: cover; position: relative; display: flex; flex-direction: column; }





.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0 ,0 ,0.6 );
}
.navbar{
    padding: 19px 148px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    height: 40px;
    width: 148px;
}
.navbar button{
    color: white;
    background-color: rgb(229, 9, 20);
    width: 79px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
}
.content{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px 32px;
}
.content div{
  height: auto;
  width: 588px;
  color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.content div h1{
  position: relative;
  font-size: 3.6rem;
  font-weight: 900;
  margin: 0px 0px 16px 0px;
  text-align: center;
  
} 
.content div .p2{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 18px;
}
.content div .p1{
  font-size: 20px;
  font-weight: 400;
  margin: 0px 0px 32px 0px;
  text-align: center;
}
.content div input{
    padding: 16px 1rem 0rem;
    height: 38px;
    width: 324px;
    margin-right: 10px;
    background: transparent;
    font-size: 1rem;
    color: white;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 14px;
}
.content div button{
    width: 213.25px;
    height: 56px;
    color: white;
    background-color: rgb(229, 9, 20);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: none;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.68, 0.06);
}
.content div button:hover{
  background-color:#c6262d ;
}
.content div input:focus{
  outline: 2px solid white;
  outline-offset: 3px;
}
.moviess{
    display: flex;
    align-items: center;
}
.moviess i{
    color: white;
    background-color: #333333;
    font-size: 13px;
    padding: 47px 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  .moviess i:hover{
    background-color: #424242;
  }
  .bottom{
    padding: 0px 14rem;
    color: white;
    margin-top: 3rem;
  }
  .movie{
    padding: 8px 22px;
    position: relative;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  .movie img{
    width: 208px;
    height: 252px;
    border-radius: 0.5rem;
}
.movies{
  display: flex;
  overflow-y: hidden;
}
.movie p{
    position: absolute;
    font-size: 8rem;
    color: black;
    bottom: 5px;
    left: 0px;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: bold;
}
.greater_than{
  margin-left: 15px;
  
}
.less_than{
  margin-right: 15px;
}
.movie:hover{
  transform: scale(1.1);
}
.boxes_4{
    width: 100%;
    display: flex;
    gap: 21px;
}
.box{
    width: 20%;
    background-color: rgb(12, 12, 43);
    padding: 24px 26px 156px;
    border-radius: 23px;
    position: relative;
}
.join{
    width: 100%;
    height: auto;
    margin-top: 4rem;
}
.part{
  margin-bottom:1rem ;
}
.boxes_4 .box h2{
    margin-bottom: 1rem;
}
.boxes_4 .box p{
    line-height: 1.4rem;
    color: #ffffffb3;
}
.box img{
    position: absolute;
    bottom: 19px;
    right: 15px;
    height: 72px;
    width: 72px;
}
.f_questions{
    width: 100%;
    height: auto;
    margin-top: 4rem;
}
.questions{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.question{
    background-color: rgb(45, 45, 45);
    padding: 0.8rem 2rem;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.question:hover{
  background-color: #3A3A3A;
}
.question i{
    font-size: 55px;
    font-weight: 500;
}
.email_2{
  margin-top: 4rem;
}
.email2_box{
    display: flex;
    justify-content: center;
    position: relative;
}
.email2_box input{
    margin-right: 10px;
    padding: 0px 1rem;
    height: 52px;
    width: 33.5rem;
    margin-right: 10px;
    background-color: #1E1E1E;
    font-size: 1rem;
    color: white;
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 6px;
    margin-bottom: 14px;
}
.email2_box input:focus{
      outline: 2px solid white;
    outline-offset: 3px;
}

.email2_box button{
    width: 213.25px;
    height: 56px;
    color: white;
    background-color: rgb(229, 9, 20);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: none;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.68, 0.06);
}
.email2_box button:hover{
  background-color: #c6262d;
}
.email_2 p{
  text-align: center;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: lights;
}
.footer .footer_1{
    color: #ffffffb3;
}
.footer .footer_2{
    display: flex;
    gap: 79px;
}
.footer .footer_2 ul{
  width: 16%;
}
.footer .footer_2 ul li{
    list-style: none;
    line-height: 2rem;
    font-size: 14px;
}
.footer .footer_2 ul li a{
    color: #ffffffb3;
}
.footer .footer_4{
  color: #ffffffb3;
    font-size: 14px;
}
.footer .footer_5{
  font-size: 13px;
    color: #ffffff80;
}
.footer .footer_5 .learn_more{
    color: #4483f4;
    text-decoration: underline;
    cursor: pointer;
  }

.content div .input label{
    position: absolute;
    top: 19px;
    left: 29px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.5s ease-in-out;
}
.content div .input label.active {
      top: 10px;
      left: 14px;
      font-size: 12px;
    }

.content div .input{
  position: relative;
}


.footer .footer_3{
  width: 124px;
  height: 32px;
  border: 1px solid white;
  position: relative;
  border-radius: 4px;
  
}
.footer #footer_3{
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 34px;
    background: #1e1e1e;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}
.footer #footer_3:focus{
    outline: 2px solid white;
    outline-offset: 3px;
}
.footer #footer_3 option{
  text-align: center;
}
.footer_3 img{
    position: absolute;
    top: 7px;
    left: 15px;
}
.footer_5_p2{
  display: none;
}
.footer_5_p1{
  margin-bottom: 15px;
}
.footer_5_p2 a{
  color: white;
}

.part_p{
  font-size: 16px !important;
}


